<%inherit file="wrapper.html" />

<h5 class="px-2 py-1 bg-secondary text-white">Selektion</h5>

<p class="mx-2 mt-3">
    Wählen Sie ein MGDM aus zu dem Sie Daten hochladen möchten.
</p>

<form action="${request.route_url('form', egrid=123)}" method="post" accept-charset="utf-8"
      enctype="multipart/form-data" class="form-inline mx-2 mb-3">
    <label class="mr-3">Modell/XTF wählen:</label>
    <div class="input-group mr-3">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
            <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
        </div>
        <select class="custom-select" id="inputGroupSelect02">
            <option selected>Choose...</option>
            <option value="Planungszonen_V1_1">Planungszonen 1.1</option>
            <option value="KbS_V1_5">Kataster der belasteten Standorte 1.5</option>
        </select>
    </div>
    <label class="mr-3">Katalog wählen:</label>
    <div class="input-group mr-3">
        <select class="custom-select" id="inputGroupSelect02">
            <option selected>Choose...</option>
            <option value="ch.sh.OeREBKRMkvs_supplement.xml">Katalog Kanton Schaffhausen</option>
        </select>
    </div>
    <button class="btn btn-primary" title="Upload starten" type="submit">
        <span class="fa fa-arrow-right"></span>
    </button>
    % if error_msg is not None:
    <small class="text-danger">
        <span class="fa fa-exclamation-circle"></span>
        ${error_msg}
    </small>
    % endif
</form>
