<!DOCTYPE html>

<%
from datetime import datetime
current_year = datetime.now().year
%>

<html lang="en" class="full-size no-margin">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>MGDM2OEREB</title>
    <link rel="shortcut icon" type="image/x-icon"
          href="${request.static_url('mgdm2oereb_frontend:static/img/favicon.ico')}">
    <link rel="stylesheet" href="${request.static_url('mgdm2oereb_frontend:static/css/app.min.css')}">
    <script src="${request.static_url('mgdm2oereb_frontend:static/js/jquery-3.4.1.min.js')}"></script>
    <script src="${request.static_url('mgdm2oereb_frontend:static/js/bootstrap.bundle.min.js')}"></script>
</head>
<body>
<div class="container shadow bg-white pt-3 pb-3">
    <p class="text-right pb-3">
        <a href="https://opengis.ch">
            <img src="${request.static_url('mgdm2oereb_frontend:static/img/logo.png')}" height="55">
        </a>
    </p>
    % if request.matched_route.name != 'status':
    <button class="btn btn-secondary pull-right" title="Impressum" data-toggle="modal" data-target="#imprintModal">
        <span class="fa fa-info text-white"></span>
    </button>
    % endif
    % if context.get('print_data', UNDEFINED) is not UNDEFINED:
    <form method="POST" action="${request.route_url('print')}" target="_blank">
        <input type="hidden" name="print_data" value="${print_data | n}"/>
        <button type="submit" class="btn btn-secondary pull-right" title="Auskunft als PDF speichern">
            <span class="fa fa-file text-white"></span>
            <span class="text-white">PDF</span>
        </button>
    </form>
    % endif
    <h1>MGDM2OEREB</h1>
    <hr class="border-danger"/>
        ${self.body()}
</div>

% if request.matched_route.name != 'status':
<div class="modal fade" id="imprintModal" tabindex="-1" role="dialog" aria-labelledby="imprintModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imprintModalLabel">Impressum</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bei inhaltlichen Fragen wenden Sie sich bitte an die folgende Adresse:</p>
                <address class="col">
                    <b>Amt für Geoinformation</b><br>
                    Mühlentalstrasse 105<br>
                    8201 Schaffhausen <br>
                    <a href="mailto:agi@sh.ch">mailto:agi@sh.ch</a>
                </address>
                <p>Bei technischen Fragen wenden Sie sich bitte an die folgende Adresse:</p>
                <address class="col">
                    <b>OPENGIS.ch</b><br>
                    Via Geinas 2<br>
                    7031 Laax<br>
                    <a href="mailto:info@opengis.ch">info@opengis.ch</a>
                </address>
            </div>
        </div>
    </div>
</div>
% endif

</body>

<footer class="text-center text-muted pt-3 pb-3">
    <small>Copyright ${current_year}, OPENGIS.ch</small>
</footer>

</html>
